.atreus{
    background-image: url(../img/background-omega.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "title atreus"
    "informacao atreus"
    "imagem atreus";
}

.atreus__personagem{
    height: 1000px;
    margin-top: 40px;
    grid-area: atreus;
}

.title__atreus{
    display: flex;
    align-items: flex-end;
    margin-left: 200px;
    font-size: 3.5rem;
    font-weight: 550;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    grid-area: title;
}

.informacao__atreus{ 
    display: flex;
    align-items: center;
    margin-left: 200px;
    font-size: 2rem;
    font-weight: 100;
    width: 800px;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

.imagem__atreus{
    margin-left: 17rem;
    grid-area: imagem;
}