
.home{
    background-image: url(../img/background-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "logo seta";
}

.god__of__war{    
    margin-top: 60px;
    margin-left: 110px;
    grid-area: logo;
}

.button{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 40px;
    margin-bottom: 40px;
    font-size: 38px;
    color: #ffffff;
    grid-area: seta;
}

@media(max-width: 700px){
    .home{
        background-size: cover;
        background-position: center;
        width: 100vh;
        height: 100vh;
    }

    .god__of__war{
        margin-left: 40px;
        margin-top: 40px;
    }

    .button{
        margin-right: 30px;
        margin-bottom: 30px;
    }
}
