.kratos{
    background-image: url(../img/background-omega.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "kratos informacao";
}

.kratos__personagem{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    grid-area: kratos;
    padding-left: 110px;
}

.informacoes__kratos{
    width: 500px;
    height: 10px;
    font-size: 32px;
    grid-area: informacao;
    color: #fff;
}
