.kratos{
    background-image: url(../img/background-omega.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "kratos title"
    "kratos informacao "
    "kratos imagem";
}

.kratos__personagem{
    height: 1000px;
    margin-top: 40px;
    margin-left: 11rem;
    grid-area: kratos;
}

.title__kratos{
    display: flex;
    align-items: flex-end;
    font-size: 3.5rem;
    font-weight: 550;
    color: #fff;
    font-family: 'Inter', sans-serif;
    grid-area: title;
}

.informacao__kratos{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 100;
    width: 800px;
    color: #fff;
    font-family: 'Inter', sans-serif;
    grid-area: informacao;
}

.imagem__kratos{
    margin-left: 8rem;
    grid-area: imagem;
}

@media(max-width: 700px){
    .kratos{
        width: 100%;
        height: 150vh;
        background-position: center;
        background-size: cover;
        display: grid;
        grid-template-areas: 
        "title"
        "kratos"
        "informacao"
        "imagem";
    }

    .kratos__personagem{
        height: 800px;
        margin-left: 140px;
    }

    .title__kratos{
        display: flex;
        align-items: flex-start;
        margin-top: 50px;
        margin-left: 50px;
        grid-area: title;
    }

    .informacao__kratos{
        display: none;
    }

    .imagem__kratos{
        display: none;
    }
}