.sobre{
    background-image: url(../img/background-sobre.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 110vh;
    display: grid;
    grid-template-areas: 
    "titulo"
    "sobre";
}
.title__sobre{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-left: 110px;
    height: 450px;
    width: 35vw;
    color: white;
    font-size: 43px;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
}
.informacoes__sobre{
    display: flex;
    align-items: center;
    padding-left: 110px;
    width: 870px;
    font-size: 20px;
    height: 350px;
    color: white;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}